@charset "UTF-8";

<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Passion+One:wght@400;700;900&family=Sriracha&family=Style+Script&family=Tangerine:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Great+Vibes&family=Passion+One:wght@400;700;900&family=Sriracha&family=Style+Script&family=Tangerine:wght@400;700&display=swap');



:root {
    
    --cor01: #CBAC98; 
    --cor02: #580521; 
    --cor03: #FFEBC0; 
    --cor04: #FFDF88;  

    --font1: 'Passion One', cursive;
    

}

@font-face {
    font-family: 'Great'; 
    src: url('../fontes/GreatVibes-Regular.ttf') format('OpenType');
}


body {
    background: linear-gradient(to right, #CBAC98, #580521);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    text-align: center;
}


.titulo {
    position: relative; /* Mantém o controle sobre os elementos internos */
    display: inline-block; /* Ajusta ao tamanho do texto */
    text-align: left; /* Alinha o texto à esquerda */
}

.psicologia {
    font-size: 85px;
    font-weight: bold;
    color: #ffdf8873;
    font-family: 'Great', cursive;
    display: block; /* Garante que fique em cima */
    text-align: center;
    
}

.subtitulo {
    font-size: 49px; /* Ajuste o tamanho do "2025.1" */
    font-family: 'Great', cursive;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 10px; /* Move um pouco para a esquerda */
    top: 85px; /* Ajuste essa distância para ficar logo abaixo */
   
    
}
.subtitulo:hover {

    text-shadow: 0 0 15px rgba(255, 215, 0, 0.5);

    
}
.psicologia:hover {

    text-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
    color: rgba(255, 255, 255, 0.603);
    
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    

}
.container {
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    z-index: -1;
}
.icone {
    width: 100px;
    height: 100px;
    background-image: url('../imagens/star02.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: anima 5s linear infinite;
    animation-duration: calc(300s/var(--i));
    
}

@keyframes anima {
    0% {
        transform: translateY(100vh) scale(0) rotate(0deg);
    }
    100% { 
        transform: translateY(-10vh) scale(1) rotate(360deg);
    }
}

.hero {
    position: relative;
    padding: 25px 20px 60px;
    background: linear-gradient(45deg, var(--roxo), #1a1a1a);
    
    
}

.profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0 0 30px rgba(255, 217, 0, 0.644);
    margin: 110px auto 30px;
    overflow: hidden;
    background-position: top center;
    animation: float 6s ease-in-out infinite; 
    background-position: top center;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
    margin: 20px 0;
    font-weight: bolder;
    text-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
    
}

.details {
    max-width: 400px;
    max-height: 800px;
    margin: 40px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(3px);
    background-position: top center;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
.details:hover {
    transform: scale(1.01);
    backdrop-filter: none;
    color: #FFDF88; /* Para destacar o texto */
    background: transparent;
    border: 1px solid #FFDF88 ;
    opacity: 1px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.4);
    font-weight: bolder;
    background-color: #cbac985d; 

}
.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 66px 0;
}

.btn {
    padding: 8px 13px;
    border: 1px solid white; /* Deixa a borda inicial invisível */
    border-radius: 30px;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1); /* Efeito de vidro */
    backdrop-filter: blur(3px); /* Desfoque para efeito de vidro */
    transition: all 0.4s ease-in-out;
    color: white;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 1px; /* Define a espessura da borda */
    background: linear-gradient(45deg, var(--dourado), var(--roxo));
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.btn:hover::before {
    opacity: 1;
    background-color: transparent;
    
}

.btn:hover {
    transform: scale(1.05);
    backdrop-filter: none;
    color: #FFDF88; /* Para destacar o texto */
    background: transparent;
    border: 1px solid #FFDF88 ;
    opacity: 1px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.4);
    font-weight: bolder;
    background-color: #cbac985d; 
   
}

.btn-confirm {
    background: linear-gradient(45deg, #cbac980a,#ffebc07c );
    color: #ffffff;
}

.btn-decline {
    background: linear-gradient(45deg,#ffebc042, #cbac9833 ); 
    color: #ffffff;
  
}

.typing {
    font-size: 3.5em;
    color: var(--cor2);
    border-right: 2px solid #D28FB1;  /* Simula o cursor */
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    padding: 3px 4px 1px 4px;
    font-family: 'Dancing Script', cursive;
    margin: 43px 0;
    word-wrap: break-word;
    text-align: center;
    text-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
    max-width: 100%;
    min-height: 50px;

}    
.quadrado:hover {
    transform: scale(1.07);
    border: 1px solid #FFDF88 ;
    opacity: 1px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.4);
    color: var(--cor04);
    
    
}
.quadrado {
    
    border: 1px solid #ffffff;
    height: 350px;
    width: 350px;
    border-radius: 40px;
    margin: 10px;
    overflow: hidden; /* Garante que nada vaze do quadrado */
    transition: background 0.5s ease-in-out; /* Suaviza a transição */
    position: relative;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    display: flex; /* Ativa o flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center; /* Garante alinhamento do texto */
    padding: 0px; /* Evita que o texto encoste nas bordas */
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.5s ease-in-out, transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
    box-shadow: 4px 6px 5px 1px #00000034;

}
.animacao {
    transform: scale(0.98);
    opacity: 0.7;
}
.quadrado:active {
    transform: scale(0.95);
}
.quadrados_conteiners {

    display: flex; /* Alinha os quadrados em linha */
    justify-content: center; /* Centraliza os quadrados */
    gap: 20px; /* Espaço entre os quadrados */
    flex-wrap: wrap; /* Faz com que quebrem de linha se não couberem */
    
}

.quadrados_conteiners::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Mantém a mesma imagem de fundo */
    filter: blur(10px); /* Aplica o desfoque */
    z-index: -1; /* Mantém o fundo atrás do conteúdo */
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* Aplica o desfoque */
    z-index: -1; /* Mantém o fundo atrás do texto */
    background: rgba(255, 255, 255, 0.1);

}

.quadrado p {

    transition: opacity 0.5s ease-in-out;
    border: 1px solid white;
    font-size: 1.2rem;
    color: white;
    background-color: #cbac983d;
    padding: 30px;
    transition: background-image 0.5s ease-in-out, transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
    text-align: center;
    line-height: 1.7;
    font-weight: bolder;
}
.quadrado p:hover {

    transform: scale(1.05);
    border: 1px solid #FFDF88 ;
    opacity: 1px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.4);
    color: #FFDF88;
    text-shadow: 1px 1px 1px #00000077;
    font-weight: bolder;
    background-color: #cbac985d; 
    
    
}
.quadrado p:active {
 
    color: #dddf6b;
      
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

/* Efeito de confete fixo */
#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}
@media (max-width: 768px) {
    h1.typing {
        font-size: 2rem; /* Ajusta o tamanho do texto em telas menores */
    }
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: white;
    border-top: 1px solid #ddd;
    margin-top: auto;
    font-weight: lighter;
    font-style: oblique;
    background: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
    backdrop-filter: blur(10px); /* Aplica o desfoque apenas ao fundo */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
    position: relative; /* Mantém o footer no fluxo normal */
    z-index: 10; /* Garante que o footer fique acima do fundo */
}
footer p {
    text-align: center;
    color: white;
    margin-top: auto;
    font-weight: lighter;
    font-style: oblique;
    filter: none; /* Remove o blur do texto */
    font-family: cursive;
    font-size: 15px;
}
strong {

    font-family: 'Great', cursive;
    font-size: 20px;
    font-weight: bolder;

 

}

footer:hover {
    transform: scale(1);
    backdrop-filter: none;
    color: #FFDF88; /* Para destacar o texto */
    background: transparent;
    border: 1px solid #FFDF88 ;
    opacity: 1px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.4);
    font-weight: bolder;
    background-color: #cbac985d; 

}
footer:hover p {
    transform: scale(1);
    backdrop-filter: none;
    color: #FFDF88; /* Para destacar o texto */
    opacity: 1px;
    font-weight: bolder;
   
    

}